__pycache__/
*.py[cod]
*.pyo
*.pyd

*.log
db.sqlite3
media/

venv/
env/
ENV/

.vscode/

.idea/

.DS_Store
Thumbs.db

*.sqlite3

*.tmp
*.bak

.env

staticfiles/

*.cache

.coverage
htmlcov/

.pytest_cache/

.mypy_cache/
